body {
    background: #E0E0FF;
}
nav {
	margin-top: 5px;
	text-align: center;
}
#navigation {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline-block;
}

#navigation li {
	display: inline-block;
	width: 160px;
}

#navigation li a {
	background: #333;
	color: #fff;
	display: block;
	padding: 15px 8px;
	text-decoration: none;
	border-top: 1px solid #069;
    border-radius: 10px;
    font-weight: bold;
}

#navigation li a:hover {
	color: #079;
}

